certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
emoji==0.5.2
ftfy==5.5.1
GetOldTweets3==0.0.9
idna==2.8
imbalanced-learn==0.4.3
imblearn==0.0
kiwisolver==1.1.0
langid==1.1.6
matplotlib==3.0.3
nltk==3.4.1
numpy==1.16.3
oauthlib==3.0.1
pandas==0.24.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
termcolor==1.1.0
tqdm==4.31.1
tweepy==3.7.0
ujson==1.35
urllib3==1.24.2
wcwidth==0.1.7
python-Levenshtein==0.12.0
wxPython == 4.0.6





